<div class="application-container">
  <div class="message-container"></div>

  <div class="content-container">

    <div class="candidate-list">
      <div class="row">
        {{#candidates}}
          <div class="candidate column-medium-15 {{#eliminated}}eliminated{{/eliminated}}">
            {{ name }}
          </div>
        {{/candidates}}
      </div>
    </div>


    <div class="category-list">
      {{#categories}}
        <button class="button small category">
          {{ category }}
        </button>
      {{/categories}}
    </div>


    <div class="question-list">
      {{#questions}}
        <div class="question {{ state }}">
          <div class="question-text">{{ question }}</div>
          <div class="question-options">
            <button on-tap="answer:['Y', {{ questionid }}]" class="button small primary {{#(answer === 'Y')}}active{{/()}}">Yes</button>
            <button on-tap="answer:['N', {{ questionid }}]" class="button small primary {{#(answer === 'N')}}active{{/()}}">No</button>
            <button on-tap="answer:['C', {{ questionid }}]" class="button small info">Clear</button>
          </div>
        </div>
      {{/questions}}
    </div>



  </div>

  <div class="footnote-container">
    <div class="footnote">
      <p>Some code, techniques, and data on <a href="https://github.com/minnpost/minnpost-hennepin-county-3rd-commissioner-primary-candidates" target="_blank">Github</a>.</p>

        <p>Some map data © OpenStreetMap contributors; licensed under the <a href="http://www.openstreetmap.org/copyright" target="_blank">Open Data Commons Open Database License</a>.  Some map design © MapBox; licensed according to the <a href="http://mapbox.com/tos/" target="_blank">MapBox Terms of Service</a>.  Location geocoding provided by <a href="http://www.mapquest.com/" target="_blank">Mapquest</a> and is not guaranteed to be accurate.</p>

    </div>
  </div>
</div>
