<div class="application-container">
  <div class="message-container"></div>

  <div class="content-container">

    <div class="navigation horizontal top-container">
      <div class="candidate-list">
        {{#candidates}}
          <div class="candidate {{#eliminated}}eliminated{{/eliminated}} inline-block">
            <img class="rounded" src="{{ options.paths.images }}{{ candidateid }}.jpg">
            <div class="candidate-name small">
              {{#profileurl}}
                <a href="{{ profileurl }}" target="_blank">{{ name }}</a>
              {{/profileurl}}
              {{^profileurl}}{{ name }}{{/profileurl}}
            </div>
          </div>
        {{/candidates}}
      </div>

      <div class="one-left">
        {{#(candidatesLeft.length === 1)}}
          {{#candidatesLeft.0}}
            It looks like <strong>{{ name }}</strong> is your best fit.
              {{#profileurl}}
                <a href="{{ profileurl }}" target="_blank">Learn more</a> about this candidate.
              {{/profileurl}}
              <a href="#" on-tap="clearQuestions" class="">Start over</a>.
            {{/candidatesLeft.0}}
        {{/()}}
        {{#(typeof candidatesLeft.length != 'undefined' && candidatesLeft.length === 0)}}
          Somehow you filtered everyone out!  <a href="#" on-tap="clearQuestions" class="">Start over</a>.
        {{/()}}
      </div>
    </div>

    <div class="spacer"></div>

    <div class="category-list hide">
      {{#categories}}
        <button class="button xsmall category">
          {{ category }}
        </button>
      {{/categories}}
    </div>

    <p class="instructions caption">Answer the questions below to filter out candidates.  If a question goes dim, then that means answering it or changing that answer would not help filter more candidates, or it would lead to all candidates being filtered out.  If you want to start over, use this link to <a href="#" on-tap="clearQuestions" class="">clear all the answers</a>.</p>


    <div class="question-list">
      {{#questions}}
        <div class="question {{ state }}">
          <div class="question-text large">{{ question }}</div>

          <div class="question-options">
            <button
              on-tap="answer:['Y', {{ questionid }}]"
              class="button small
                {{#(answer !== 'Y')}}info{{/()}}
                {{#(answer === 'Y')}}active primary{{/()}}"
            >Yes</button>

            <button
              on-tap="answer:['N', {{ questionid }}]"
              class="button small
                {{#(answer !== 'N')}}info{{/()}}
                {{#(answer === 'N')}}active primary{{/()}}"
            >No</button>

            <button
              on-tap="answer:['S', {{ questionid }}]"
              class="button small
                {{#(answer !== 'S')}}button-link{{/()}}
                {{#(answer === 'S')}}active primary{{/()}}"
            >Skip</button>

          </div>
        </div>
      {{/questions}}
    </div>



  </div>

  <div class="footnote-container">
    <div class="footnote">
      <p>Some code, techniques, and data on <a href="https://github.com/minnpost/minnpost-hennepin-county-3rd-commissioner-primary-candidates" target="_blank">Github</a>.</p>

        <p>Some map data © OpenStreetMap contributors; licensed under the <a href="http://www.openstreetmap.org/copyright" target="_blank">Open Data Commons Open Database License</a>.  Some map design © MapBox; licensed according to the <a href="http://mapbox.com/tos/" target="_blank">MapBox Terms of Service</a>.  Location geocoding provided by <a href="http://www.mapquest.com/" target="_blank">Mapquest</a> and is not guaranteed to be accurate.</p>

    </div>
  </div>
</div>
