/**
 * Main styles for: minnpost-hennepin-county-3rd-commissioner-primary-candidates
 */

// This makes the unpublished background not as annoying
body .node-unpublished {
  background-repeat: no-repeat;
}

// Wrap everything for specificity
.mp .minnpost-hennepin-county-3rd-commissioner-primary-candidates-container {

  .application-container {
    padding-top: 3em;
  }

  .spacer {
  }

  .top-container {

    .candidate-list {
      text-align: center;

      .candidate {
        vertical-align: top;
        width: 14%;

        &.eliminated {
          @include opacity(0.4);

          img {
            @include filter(grayscale(100%));
          }
        }

        img {
          width: 80%;
        }

        .candidate-name {
          margin-bottom: .5em;
        }
      }
    }

    .options {
      text-align: right;
    }

    .one-left {
      min-height: 1.5em;
      text-align: center;
      margin-bottom: .5em;
    }
  }

  .category-list {
    margin-bottom: 3em;

    .category {
      margin-bottom: .5em;
    }
  }

  .instructions {
    margin-bottom: 4em;
  }

  .question-list {
    margin-bottom: 3em;

    .question {
      margin-bottom: 2em;

      &.answered {
      }

      &.unanswerable {
        @include opacity(0.4);
      }

      .question-text {
        margin-bottom: .5em;
      }

      .question-options {
        margin-left: 1em;
      }
    }
  }


  // Custom breakpoints
  @media screen and (max-width: 768px) {
  }
}
